@charset "UTF-8";

main{
	text-align: center;
}
body{
	background-color: lightgray;
}
header{
	background-color: gray;
}
/*ここからヘッダー*/
#logoright{
	text-align: right;
    font-weight: 600;
     height: 70px;
}
#logo{
	text-align: left;
	width: 100px;
	height: auto;
}
/*ここからメイン*/
mx-auto{ 
	width: 300px;
}
mb-3{ text-align: center;
}
input.form-control{
	width: 30%;
	margin: auto;
}
#ermail{
	color: red;
}

#erpass{
	color: red;
}

