@charset "UTF-8";
@charset "UTF-8";
body{
	background-color: lightgray;
	text-align: center;
}
header{
	background-color: gray;
}
/*ここからヘッダー*/
#logoright{
	text-align: right;
    font-weight: 600;
}
/*ここからメイン*/
mx-auto{ width: 300px;
}
mb-3{ text-align: center;
}
input.form-control{
	width: 30%;
	margin: auto;
}